# Files, Conditions, and Loops

## Objectives:
- Understand how to use a `for` loop  
- Learn how to use the `if` conditional statement  
- Explore different methods for reading files

One truly begins to appreciate the speed and efficiency of programming with Python when loops help save time. Loops allow us to perform the same sequence of operations on multiple files using just a few lines of code.

### Structure of a Loop

<p align="center">
  <img src="../fig/loop.png" width="600">
</p>

Each loop begins with `for i in iterable:`
- `i`: The name of the variable is arbitrary; it could be anything (e.g., `for animal in zoo:`)!
- Examples of iterable objects:
  - Lists: `['a', 'b', 'c']`
  - Strings: `"hello"`
  - Dictionaries: `{"key": "value"}`
  - Sets: `{1, 2, 3}`
  - Objects returned by functions like `range()`
  - Files
- The line ends with a colon `:`. In Python, a colon indicates the start of a block (such as loops, conditionals, or contexts like `with`), followed by **indented** code that belongs to the block. In a notebook, indentation is applied automatically if the colon is correctly placed.

**Body of the loop:**
- Any action that should be performed on each element of the iterable, one at a time (mathematical operation, transformation, visualization, etc.)
- Python automatically detects when it has reached the end of the iterable and exits the loop.

In [ ]:
for letter in 'supercalifragilisticexpialidocious' :
    print(letter.upper())

### Exercise

Write a loop that computes the square of each number in the list `numbers`.

In [ ]:
numbers = [4, 8, 14, 20, 33, 100]

for i in numbers :
    print(i ** 2)

### Exercise

Print the first letter of each value in the dictionary `capitals`.

In [ ]:
capitals = {'France': 'Paris',
             'Canada': 'Ottawa',
             'Italy': 'Rome',
             'Spain': 'Madrid',
             'Thailand': 'Bangkok'}

for value in capitals.values() :
    print(value[0])

### Conditional Statement `if`

The `if` conditional statement in Python allows you to execute a block of code **only if** a given condition is true. It is a fundamental element for introducing decision-making logic into a program.

- **Basic Syntax**

```python
if condition:
    # block of code executed if the condition is true
```

- As with loops and the `with()` statement, the code following the `if` declaration must be indented.

- **Possible Conditions:** You can use comparison operators such as:

  - `==` : equal to  
  - `!=` : not equal to  
  - `<`, `>`, `<=`, `>=` : less than / greater than  
  - `and`, `or`, `not` : logical operators  
  - `in` : check if an element exists in a sequence (list, string, dictionary)

If the condition evaluates to `True`, the block is executed.

In [ ]:
age = 18

if age >= 18:
    print("You are an adult.")

If the condition evaluates to `False`, the block is not executed:

In [ ]:
number = 11
if number <= 10:
    print('The number is smaller than 10.')

In [ ]:
weekend = ['saturday','sunday']

if 'monday' in weekend :
    print('This day is part of the weekend.')

You can add code to execute when the `if` condition returns `False` using the `else` statement.

In [ ]:
if 'monday' in weekend :
    print('This day is part of the weekend.')
else :
    print('This is a week day.')

### Exercise

Use an `if` statement to determine whether `'bra'` is in `'abracadabra'`.

In [ ]:
if 'bra' in 'abracadabra' :
    print('yes')

Use an `if` statement to determine if 24 is an even number.

In [ ]:
if 24%2 == 0 :
    print('24 is an even number')

### We can then combine loops and `if` statement

In [ ]:
week = ['monday', 'tuesday','wednesday','thursday','friday','saturday','sunday']

for day in week :
    if day in weekend :
        print(day)

### Exercise

Display the numbers from 1 to 10 and indicate whether each one is even or odd.

In [ ]:
for i in range(1,11) :
    if i%2 == 0 :
        print(str(i) + ' is even')
    else :
        print(str(i) + ' is odd')

Filter the words in the list `words` that begin with a vowel.

In [ ]:
words = [
    "dog",
    "ice",
    "book",
    "idea",
    "elephant",
    "tree",
    "orange",
    "chair",
    "ant",
    "river",
    "apple",
    "mountain",
    "flower",
    "umbrella",
    "owl"
]

vowels = ['a','e','i','o','u','y']

for i in words :
    if i[0] in vowels :
        print(i)

### Reading Files

- **Tabular files** (CSV, Excel, JSON, XML). These files are easily read and manipulated using the `pandas` package. You will learn to use this package more extensively in the DAT201 course, but here is a preview.

In [ ]:
import pandas as pd

In [ ]:
# source des données : 
# https://www.donneesquebec.ca/recherche/dataset/reseau-wifi/resource/2a451b5f-cbe9-4dcb-b9e5-03e63ababcad
# Localisation des points d'accès à un réseau wifi gratuit
wifi = pd.read_csv("data/zap.csv")

In [ ]:
wifi

In [ ]:
type(wifi)

- **Text files** with **atypical formats**: These types of files require more manual work to structure the data, as they are not tabular or their lines are not uniform. Examples of such file formats include biological data (e.g., FASTA, FASTQ, GBK) and plain text files (.txt). They should be read using the `open()` function.

In [ ]:
animals = []
with open('data/animals_list.txt', 'r') as f :
    for line in f :
        line = line.strip()
        animals.append(line)

**Let’s break down each line of this code cell:**

1. `animals = []`  
- First, we create an empty list called `animals`. This list will hold the names of animals read from the file.

2. `with open('data/animals_list.txt', 'r') as f:`  
- The `with` statement before the `open()` function ensures the file is properly closed, even if errors occur.  
- The parameters of the `open()` function specify:  
  - the file to read (and its path, if necessary): `'data/animals_list.txt'`  
  - the mode for opening: `'r'` to read the file, `'w'` to write a new file, `'a'` to append to an existing file  
- The expression `as f` assigns a name to the file object returned by Python when opening the file. This object allows interaction with the file. The name `f` doesn’t matter—you could call it `banana` if you wanted!  
- The line ends with a colon `:`, indicating the start of an indented block (just like in loops).

3. `for line in f:`  
Iterates through each line of the file `f`, one by one. On each loop iteration, the variable `line` contains one line from the file. Just like `f` could have been called `banana`, `line` can be named anything.

4. `line = line.strip()`  
The `strip()` command removes spaces, tabs, and especially newline characters (`\n`) from the beginning and end of the line. This ensures a clean string (just the animal name).

5. `animals.append(line)`  
The `append()` command adds the cleaned line (the name of an animal) to the `animals` list.

In [ ]:
animals

**Exercise**

Read each line from the file `firstname_lastname.txt`, extract the age, and display the people who are over 30 years old.

In [ ]:
with open('../data/firstname_lastname.txt', 'r') as f :
    for line in f :
        line = line.strip().split(',')
        firstname = line[0]
        age = int(line[1])
        if age > 30 :
            print(firstname, age)

**Exercise**

Read each line from the file `temperature_april.txt` and calculate the average temperature.

In [ ]:
temperature_april = []
with open('../data/temperature_april.txt', 'r') as f :
    for line in f :
        line = line.strip()
        temperature_april.append(int(line))

print(sum(temperature_april)/len(temperature_april))

### Finally, we can also use a `for` loop to read multiple files in batch.

Complete the following code, which reads all files with the `.fasta` extension and stores all sequences in a single dictionary.

In [ ]:
import glob

filename = (glob.glob('data/*.fasta'))

all_sequences = {}

for fichier in filename :
    with open(fichier, 'r') as f :
        for line in f :
            line = line.strip()
            if line.startswith('>') :
                seq_name = line[1:]
                sequence = ''
            else :
                sequence += line
                all_sequences[seq_name] = sequence

### Writing Files

Just as we may want to read files to manipulate their contents in a Python script, we may also want to save the contents of a list or any other type of data to a file.

In [ ]:
with open('data/animals_sorted.txt', 'w') as f :
    for i in sorted(animals) :
        f.write(i)
        f.write('\n')

The structure is similar to that used for reading a file. Here, the filename (`data/animals_sorted.txt`) refers to the file we want to create. The mode `'w'` means we want to **write** to a file. To write to the file `f`, we use the `.write` method. To insert a line break between each animal name, we use `\n`.

**Exercise**

Create a dictionary with the full names of your five favorite celebrities as keys, and their professions as values. Then write the contents of the dictionary to a file, with each key-value pair separated by a tab character.

In [ ]:
celebrities = {'Celine Dion' : 'singer',
             'Sydney Crosby' : 'hockey player',
             'Simone Biles' : 'gymnast',
             'Ada Lovelace' : 'mathematician',
             'Pedro Pascal' : 'actor'}

with open('../data/celebrities.txt', 'w') as f :
    for key, value in celebrities.items() :
        f.write(key + '\t' + value + '\n')

**Exercise**

Write a Python program that creates 10 text files named `table_1.txt`, `table_2.txt`, `table_3.txt` ... `table_10.txt`. Each file should contain the corresponding multiplication table from 1 to 10.

Example content for `table_3.txt`:

```
3  
6  
9  
...  
30
```

**Hint**: The `range()` function can be used to iterate over numbers.

In [ ]:
for i in range(1,11) :
    with open('../data/table_' + str(i) + '.txt', 'w') as f :
        for j in range(1,11) :
            f.write(str(i * j) + '\n')